@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

[hidden] {
  display: none;
}

* img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
/* Конец обнуления стилей */
* {
  font-family: Montserrat, monospace;
  font-weight: 500;
  font-size: 18px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-list {
    display: flex;
    gap: 48px;
    list-style-type: none;
}

@media (max-width: 768px) {
  .page-list {
    flex-direction: column;
    align-items: center;
  }
  .page-list li a {
    font-size: 26px;
  }
}

.page-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 8px 16px;
}

.page-navigation-item-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 1rem;

    &:hover {
        color: #ecabe6;
    }

    &[active] {
        font-weight: 700;
        text-decoration: underline;
    }
}

.auth-button {
  padding: 10px 30px;
  background-color: #ecabe6;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 4px;
}

.menu__icon {
  display: none;
}

@media (max-width: 768px) {
  .menu__icon {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }

  .menu__icon span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1.5px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 5px;
  }

  .menu__icon span:first-child {
    top: 0;
  }

  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }

  .menu__icon._active span {
    transform: scale(0);
  }

  .menu__icon._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1.5px);
  }

  .menu__icon._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1.5px);
  }
}

@media (max-width: 768px) {
  .menu__body {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf0e6;
    transition: top 0.2s;
  }

  ._active .menu__body {
    top: 0;
  }
}

.auth-button {
  padding: 10px 30px;
  background-color: #ecabe6;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 4px;
}

.page-header {
  background-color: #faf0e6;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.index-container {
  background-image: linear-gradient(to top, rgba(250, 240, 230, 0.4), rgba(250, 240, 230, 0.4)), url("https://img2.hocoos.com/cache/img-pack/1203/w-1920/h-720/ww-1920/wh-720/img-pack/1203/pexels-kampus-production-5940842.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

.index-title {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  min-width: 100px;
  justify-self: center;
  align-self: center;
  text-align: center;
  padding: 0 20px;
}

@media (max-width: 576px) {
  .index-title {
    font-size: 2rem;
  }
}

.index-relevance {
  padding: 40px 40px;
  background-color: #e1c8c2;
}

.index-relevance-paragraph {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 20px;
  /* padding: 0 40px; */
}

.index-relevance-paragraph p {
  max-width: 80%;
  font-size: 1.2rem;
  color: rgb(57, 57, 57);
}

.index-relevance-paragraph strong {
  font-size: 1.2rem;
  font-weight: bold;
}

.index-relevance-paragraph img {
  max-width: 80%;
}

.index-relevance__box {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .index-relevance__box {
    flex-direction: column;
    text-align: center;
  }
}

.index-section-title {
  font-size: 2.6rem;
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .index-section-title {
    font-size: 1.8rem;
  }
}

.index-features {
  padding: 40px 40px 100px 40px;
  background-color: #faf0e6;
}

.index-features-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .index-features-list {
    gap: 150px;
  }
}

.index-features-item {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.index-features-item p {
  position: relative;
  z-index: 2;
  max-width: 150px;
  font-size: 1rem;
  text-align: center;
}

.index-features-item span {
  font-size: 1rem;
  text-decoration: underline;
}

.index-features-item::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #dff5b1;
}

#preloader {
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

#preloader.hide-preloader {
    display: none;
}

#load-time {
    margin: 16px;
}

.index-specializations {
  padding: 40px;
}

.index-specializations-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  justify-items: center;
  /*align-content: start;*/
  grid-auto-flow: row;
}

.index-specializations-list img {
  width: 100%;
  height: auto;
  border-radius: 25%;
}

.index-specializations-list :nth-child(odd) img {
  border: 3px solid #faf0e6;
}

.dialogues-wrapper {
  display: flex;
  padding: 40px 40px;
  background-color: #e1c8c2;
  justify-content: space-around;
  gap: 24px;
}

@media (max-width: 848px) {
  .dialogues-wrapper {
    flex-direction: column-reverse;
  }
}

@media (max-width: 480px) {
  .dialogues-wrapper {
    padding: 20px;
  }
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 1 100%;
}

.chats-search {
  background-color: #faf0e6;
  border: 0;
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
}

.chats-sort {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: fit-content;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px;
  background-color: #faf0e6;
  min-width: 300px;
}

.chats-sort span {
  display: flex;
  align-items: center;
  height: 36px;
  align-content: center;
  border-radius: 8px;
  padding: 8px;
}

.chats-sort span:hover {
  cursor: pointer;
  background-color: #e1c8c2;
}

.chats-sort span[active] {
  background-color: #e1c8c2;
}

@media (max-width: 848px) {
  .chats-sort {
    align-self: stretch;
  }
}

.chat {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 70px;
  background-color: #faf0e6;
  border-radius: 8px;
  padding: 8px 16px;
}
.chat img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@media (max-width: 576px) {
  .chat img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 576px) {
  .chat {
    padding: 8px;
    gap: 8px;
  }
}

.chat:hover {
  cursor: pointer;
}

.chat-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.chat-info span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-info span.last {
  white-space: wrap;
  color: #7e7e7e;
}

@media (max-width: 576px) {
  .chat-info span {
    font-size: 14px;
  }
}

.chat-time {
  margin-left: auto;
  align-self: center;
}

@media (max-width: 576px) {
  .chat-time {
    font-size: 14px;
  }
}

.tests-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 399px;
  padding: 40px 40px;
  background-color: #e1c8c2;
}

.tests-container {
  align-self: center;
  width: 90%;
}

.create-test-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  gap: 28px;
  background-color: #faf0e6;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 28px;

  .test-input {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 8px;

    > label {
      font-size: 14px;
    }

    > input {
      text-align: center;
      margin: 0 auto;
      background: transparent;
      font-size: 13px;
      border: 1px solid #ecabe6;

      &[type='number'] {
        width: 50px;
      }

      &[type='text'] {
        width: 200px;
      }
    }
  }

  :last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .checkbox-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4px;

      > label {
        font-size: 12px;
      }
    }
  }
}

.create-test {
  border-radius: 8px;
  border: 0;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  width: 180px;
  background-color: #faf0e6;
}

.test {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  padding: 8px 16px 8px 32px;
  background: #faf0e6;
  border-radius: 8px;

  & a {
    flex-basis: 220px;
    word-break: break-word;
    text-decoration: none;
    font-size: 13px;
    color: #000000;
    font-weight: 600;
  }

  .save-icon {
    position: absolute;
    top: 30%;
    left: 0;
  }

  > button {
    background: transparent;
    border: 0;
    margin-left: 16px;
    font-size: 13px;

    &:hover {
      cursor: pointer;
    }
  }

  > span {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .test a {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .test span {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .test {
    padding: 16px;
    justify-content: center;
    text-align: center;
  }
}

.calendar-wrapper {
  padding: 40px 40px;
  background-color: #e1c8c2;
}

@media (max-width: 576px) {
  .calendar-wrapper {
    padding: 20px;
  }
}

.calendar-container {
  width: 360px;
  margin: 3em auto;
  padding: 2em;
  border: 1px solid #dcdcff;
  border-radius: 8px;
  background: #ffffff;
}

.calendar-container table {
  clear: both;
  width: 100%;
  border: 1px solid #dcdcff;
  border-radius: 3px;
  border-collapse: collapse;
  color: #444;
}

.calendar-container td {
  height: 48px;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #dcdcff;
  border-top: 1px solid #dcdcff;
  width: 14.28571429%;
}

.calendar-container td.not-current {
  color: #c0c0c0;
}

.calendar-container td.today {
  font-weight: 700;
  color: #28283b;
  font-size: 1.5em;
}

.calendar-container thead td {
  border: none;
  color: #28283b;
  text-transform: uppercase;
  font-size: 1.5em;
}

@media (max-width: 384px) {
  .calendar-container {
    width: 100%;
  }
}

.calendar-prev {
  float: left;
  margin-bottom: 20px;
  content: "\f104";
  font-family: FontAwesome, monospace;
  padding-right: 4px;
}

.calendar-next {
  float: right;
  margin-bottom: 20px;
  content: "\f105";
  font-family: FontAwesome, monospace;
  padding-left: 4px;
}

.calendar-prev,
.calendar-next {
  border: 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #c0c0c0;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.calendar-prev:hover,
.calendar-next:hover {
  color: #28283b;
  font-weight: 700;
}

.page-footer {
  padding: 40px;
  background-color: #faf0e6;
}

@media (max-width: 576px) {
  .page-footer-title {
    text-align: center;
    font-size: 1.5rem;
  }
}

.page-footer-paragraph {
  margin-top: -15px;
  font-size: 28px;
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .page-footer-paragraph {
    text-align: center;
    font-size: 1.3rem;
  }
}

.page-footer-description-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (max-width: 768px) {
  .page-footer-description-box {
    flex-direction: column;
  }
}

.page-footer-description-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-footer-description-name {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .page-footer-description-name {
    font-size: 1.3rem;
  }
}

.page-footer-description-link {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  color: rgb(40, 40, 120);
}

@media (max-width: 576px) {
  .page-footer-description-link {
    font-size: 1.2rem;
  }
}
